body{
  font-family: 'Courier New', Courier, monospace;
  font-size:1.5em;
  margin:0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  vertical-align: bottom;
}

header{
background:rgb(0, 0, 0);
padding-top:20px;
min-height: 30px;
border-bottom: red 3px solid;
}

.auto-type{
  font-family: 'Courier New', Courier, monospace;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
}

footer{
  background: rgb(0, 0, 0);
  border-top: red 3px solid;/*A background for the footer and and a red line border above and beside it */
  min-height: 20px;
  width:100%;
  text-align: center;
  margin: 0;
}

footer a{
  text-decoration:none;
  /*This removes the lines seperating each of the social media icons*/
}

header ul{
  margin:0;
  padding:0;
}

header li{
  float: left;
  padding:0 20px 0 20px;
  display:inline;
}

header nav{
  float:right;
}

ul li a {
  color: red;
}

.fab{
  color:red;
  margin: 10px;
  transition:all .5s ease-in-out;
}


.fa-solid{
  color: red;
  margin: 10px;
  cursor: pointer;
  transition:all .5s ease-in-out;
}

.fab:hover , .fa-solid:hover{
  transform: scale(1.2);
}


.text-container{
  width: 260px;
          height: 130px;
          border-right: 1px solid #403F44;
          float: left;
          text-transform: uppercase;
          font-size: 16px;
          margin: 43px 0 0;
}

:root{
  font-size:75.5%;
  font-family:"Raleway",sans-serif;
}

/*Editing the header by size color and thickness and also font family*/
h1{
  font-size: 3.5rem;
  font-weight:400;
  text-align:center;
  font-family:"Oswald",sans-serif;
}

hr{
  /*This allows the images to be seperated by margins without any borders on the side*/
  margin: 0;
  border:0;
  border-top: 1px solid red;
}

.project-link{
  color: red;
}

.section-title{
  color: red;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  height: 50px;
  background-color: black;
  border-top: red 3px solid;
  border-bottom: red 3px solid; 
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  width: 1000px;
  margin-left: 150px;
  margin-top: 60px;
  gap: 40px;
  margin-bottom: 20px;
}

.gallery-item{
  margin-bottom: 10px;
  width: 600px;
  height: 450px;
  padding: 3px;
  border-radius: 5px;
  text-decoration: none;
  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 700ms ease-in-out;
}

.gallery-img{
  width: 600px;
  height: 410px;
  border-radius: 5px;
}

.gallery-title{
  text-align: center;
  font-size: 25px;
  color: red;
  margin-top: 0;
}

.home-gallery-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.gallery-item:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.text{
  color:#ffffff;
  font-size:2.5em;
  padding:16px,32px;
  font-family:"Oswald",sans-serif;
}

.parent{
display: flex;
align-items: center;
justify-content: center;
}

.welcome-page{
    height: 100vh;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts-section{
  height: 100vh;
}

.contacts{
  margin-top: 100px;
}
.about-section{
  height: 115vh;
}
.about-parent{
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-content{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 800px;
  height: 380px;
  border: 5px solid red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-photo{
  width: 300px;
  border-radius: 10%;
  height: 300px;
  margin-bottom: 20px;
}
#about-text{
  text-align: left;
  margin-top: 20px;
  margin-left: 10px;
  padding: 3px;
  color: red;
}

span{
  color: black;
}

a{
  text-decoration: none;
  color: black;
}

#item-title{
  color: red;
}

.overview{
  color: #3974b79d;
}

.fa-house-chimney{
  color: red;
  cursor:pointer;
}

.project-head{
  display: flex;
  flex-direction: column;
}

#item-title{
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

@media (max-width:1200px){

  .gallery-description{
    padding: 7px;
    text-align: center;
  }
 .gallery{
  width: 900px;
  margin-left: 25px;
  margin-top: 60px;
  gap: 20px;
  row-gap: 30px;
 }

 .gallery-item{
  width: 500px;
  height: 350px;
 }

 .gallery-img{
  width: 100%;
  height: 320px;
 }

 .gallery-title{
  font-size: 18px
 }

 .gallery-item:hover{
  transform : scale(1.05)
 }

 .about-section{
  height: 160vh;
 }

 .about-photo{
  height: 250px;
  width: 200px;
 }
 .contacts-section{
  height: 120vh;
 }
 .contacts{
  margin-top: 10px;
 }

}

/*@media (max-width:1000px){

  .gallery-description{
    padding: 7px;
    text-align: center;
  }
 .gallery{
  width: 900px;
  margin-left: 30px;
  margin-top: 60px;
  gap: 20px;
  row-gap: 30px;
 }

 .gallery-item{
  width: 450px;
  height: 350px;
 }

 .gallery-img{
  width: 100%;
  height: 320px;
 }

 .gallery-title{
  font-size: 18px
 }
}
*/

@media (max-width:400px){

  .container{
    max-height: 100px;
    margin: 0px;
  }

  ul li {
    font-size: 14px;
    padding: 10px;
  }
  .fa-house-chimney{
    margin:0;
  }
  #item-title{
    margin: 0;
    font-size: 30px;
  }
  .overview{
    font-size: 25px;
  }
  .gallery-description{
    padding: 10px;
    font-size: 15px;
    text-align: justify;
  }
  .gallery{
   width: 350px;
   grid-template-columns: 1fr;
   margin-left: 12px;
  }
 
  .gallery-item{
   width: 350px;
   height: 400px;
  }
 
  .gallery-img{
   width: 100%;
   height: 355px;
  }
 
  .gallery-title{
   font-size: 18px
  }
 
  .gallery-item:hover{
   transform : scale(1.05)
  }

  .about-section{
    height: 170vh;
  }
  .about-content{
    margin-left: 14px;
    width: 350px;
    height: 450px;
  }
  #about-text{
    font-size: 14px;
  }

 }